/* Колір лого #2196F3; #000000 */
/* Основний колір тексту #212121; */
/* Другорядний колір #757575; */
/* Колір акценту #2196F3 */
/* Кольори у футері
#ffffff
rgba(255, 255, 255, 0.6); */
/* Основний колір фона #ffffff */
/* "Футер і Хіро" колір фона #2F303A */
/* "Команда" колір фона #F5F4FA; */

/* Перемінні */
:root {
  --main-text-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --hero-footer-background: #2f303a;
  --footer-logo-color: #ffffff;
}

/* Глобальні */
body {
  font-family: 'roboto', sans-serif;
  background-color: var(--footer-logo-color);
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* 1. Header stylization */

.header-logo {
  color: var(--logo-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

/* 1.1 site-nav */
.header-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: #2196f3;
}

/* 1.2 contacts */
.mail,
.phone {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts .mail:hover,
.contacts .mail:focus,
.contacts .phone:hover,
.contacts .phone:focus {
  color: var(--accent-color);
}

/* 2. Hero */
.hero {
  background-color: var(--hero-footer-background);
  color: var(--footer-logo-color);
  font-size: 44px;
  line-height: 1.36;
}

/* 2.1 Button for first page*/

.button {
  font-family: inherit;
  cursor: pointer;
  color: var(--footer-logo-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.button:hover,
.batton:focus {
  color: var(--accent-color);
  background-color: var(--footer-logo-color);
}

/* 3. Work */

/* колір для тексту у секціях і шрифти*/

.title-del {
  color: rgba(0, 0, 0, 0.2);
}

.list .section-title {
  font-size: 14px;
  line-height: 1.14;
}

.list .section-text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
}

.work .section-title,
.team > .section-title {
  font-size: 36px;
  line-height: 1.17;
}

/* 4. Team */
.team {
  background-color: #f5f4fa;
}

.team-list .carts {
  background-color: var(--footer-logo-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

/* 5. Footer */

.footer,
.footer-address,
.footer-contact {
  background-color: var(--hero-footer-background);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-logo {
  color: var(--footer-logo-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
}

.footer-address {
  color: var(--footer-logo-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/* portfolio */
/* buttons for portfolio */

.section.list-button .title-del,
.section.list-work .title-del {
  color: rgba(0, 0, 0, 0.2);
}

.btn {
  font-family: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.63;
}

.btn.current {
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
}

/* fonts in portfolio */

.section.list-work .section-title {
  font-size: 18px;
  line-height: 2;
}

.section.list-work .section-text {
  font-size: 16px;
  line-height: 1.88;
}
